.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  opacity: 1 !important;
  position: relative;
  transition: opacity 0.5s;

  &__main {
    min-height: calc(100vh - #{$footer-height});
    padding-top: $header-height;
  }

  &__route {
    background-color: #fff;
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
  }

  &__container {
    margin: 0 auto;
  }

  &__cancel {
    text-align: center;
  }
}
